//breakpoints
$tablet:481px;
$laptop:769px;
$desktop:1025px;
//color
$primary:#ff0259;
$white: #fff;
$dark: #000;
// fonts
$homeTitle-fs: 5em;
$homeTitle-fw: 700;
$title-fs: 3em;
$title-fw: 400;
$btn-fs:1.3em;
$btn-fw:300;
$text-fs:1.1em;
//paddings
$btn-pd: .5em 1em;

//height
$nav-hight: 9vh;
//bgImg
$bgHeader: url("../assets/img/bg.jpg");
$bgTestimonial: url("../assets/img/bg2.jpg");
$bgContact: url("../assets/img/bg3.jpg");