h2.about__title.fade-in 
    span.text--pink A
    |bout Us
.about__content 
    .about__wrapper.slide-in.from-left
        p.about__text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from.
        p.about__text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem .
    img(src="./assets/img/img1.jpg", alt="pizza image" class="about__img slide-in from-right")