h2.contact__title.fade-in
    span.text--pink  C
    |ontact Us 
p.contact__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam hic iste  
form(class="form slide-in from-left" action="")
    h3.form__title Send Message
    input(class="form__input" type="text" name="name" required placeholder="Name") 
    input(class="form__input" type="email" name="email" required placeholder="Email") 
    textarea(class="form__textarea" name="msg" placeholder="Message" ) 
    input(class="form__btn" type="submit", value="SEND")