h2.expert__title.fade-in Our Kitchen 
    span.text--pink E
    |xpert 
p.expert__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
.expert__content 
    each expert in experts
        +card(expert.image,expert.text)