h1.home__title Always Choose Good
p.home__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
a(class='home__btn' href="#menu") Our Menu