h2.testimonial__title.fade-in They 
    span.text--pink S
    |aid About Us 
p.testimonial__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quos dignissimos 
.testimonial__content 
    each item in testimonials 
        +testimonial-card(item.image,item.text,item.label)
